@{
    ViewData["Title"] = "Contact";

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Asia Pacific University of Technology and Innovation (APU)<br />
    57000 Kuala Lumpur<br />
    <abbr title="Phone">P:</abbr>
    603.8996.1000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
