@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_PrimaryLayout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Pharmacy Management System developed by Brandon. Displays inventory of drugs for purchase.</p>
